*{
    margin: 0;
    padding:0;
}

.announcement{
    /* display: flex;
    flex-direction: column;     */
}
.announcement h1{
    text-align: center;
}

.announcement ul {
    width: 80%;
    /* background-color: rgb(160, 141, 141); */
    margin: auto;
    
}
.announcement ul li {
    list-style: none;
    width: 100%;


}