*{
    margin: 0;
    padding:0;
}

.announcement{
    /* display: flex;
    flex-direction: column;     */
}
.announcement h1{
    text-align: center;
    font-size: 3.5rem;
}

.announcement ul {
    width: 80%;
    margin: auto;
    
}
.announcement ul li {
    list-style: none;
    width: 100%;


}
@media only screen and (max-width: 600px) {
    .announcement h1{
        text-align: center;
        font-size: 2rem;
    }.announcement ul li {
        list-style: none;
        width: 100%;
        position: relative;    
        right:1.8rem;
    
    }
  }