.form{
    height: 12rem;
    width: 80%;
    border:1px solid red;
    padding: auto 0.6rem;
    margin: auto;
    display: flex;

    
}

.form input{
    height: 7rem;
    width: 70%;
    margin: auto;
}

.form button{
    width: 6rem;
    height: 3rem;
    border-radius: 0.5rem;
    margin: auto;
}