.card {
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    box-shadow: 1.7px 2.2px 33.6px -30px rgb(0 0 0 / 6%),
      4.1px 5.2px 55.7px -30px rgb(0 0 0 / 8%),
      7.8px 9.8px 66px -30px rgb(0 0 0 / 9%),
      13.8px 17.4px 68.6px -30px rgb(0 0 0 / 10%),
      25.9px 32.6px 81.1px -30px rgb(0 0 0 / 10%),
      62px 78px 136px -30px rgb(0 0 0 / 13%);
    margin: 3em auto 0 auto;
    min-height: 140px;
    width: 66vw;
  }
  .card_body {
    flex: 1 1 auto;
    padding: 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card_text {
    padding: 1rem;
    text-align: center;
    /* vertical-align: middle; */
    margin: auto;
  }
  
  @media (max-width: 768px) {
    .card {
      margin: 2em 0 0 4em;
    }
    .card-body {
      padding: 0;
    }
  }